header 
{
  top: 0px;
  position: fixed;
  width: 100%;
  background-color: #d45a9b;
  height: 150px;
}

.header a {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem; /* Adjust as needed */
}

#navigate
{
  right: 100px;
  top: 100px;
  position: absolute;
  color: #ffffff;
  font-size: larger;
}

#navigateGame
{
  right: 100px;
  top: 60px;
  position: absolute;
  color: #ffffff;
  font-size: larger;
}

#playLabel
{
  position: absolute;
  top: 150px;
  left: 30px;
}

#memoryGame
{
  position: absolute;
  top: 220px;
  left: 30px;
  box-shadow: 0px 10px 30px 0px rgb(50 50 50 / 16%);
}

.gameImg
{
  width: 200px;
  height: 200px;
}

.gameLabel
{
  text-align: center;
}

#quizGame
{
  position: absolute;
  top: 220px;
  left: 300px;
  box-shadow: 0px 10px 30px 0px rgb(50 50 50 / 16%);
}
#showPost
{
  height: 200px;
  width: 200px;
}

h1
{
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 15px;
  padding-top: 30px;
  position: absolute;
}

h2
{
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 175px;
}

#uploadLabel
{
  top: 140px;
  left: 30px;
  position: absolute;
}

#post_img
{
  top: -20px;
}

#postfile
{
  left: 170px;
  top: -20px;
}

#post_prev
{
  width: 400px;
  height: 300px;
  margin-top: 30px;
  margin-left: 30px;
}

#post_title
{
  top: -20px;
  left: 550px;
  width: 40%;
}

#post_description
{
  top: 50px;
  left: 500px;
  min-height: 100px;
  max-height: 200px;
}

#upload
{
  top: 280px;
  left: 600px;
  width: 200px;
}

input 
{
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #050505;
  border-radius: 3px;
  font-size: 12px;
  position: absolute;
}

label 
{
  font-size: 15px;
  padding: 8px;
  text-align: left;
  color: #000000;
  font-weight: bold;
  position: absolute;
}

#fname
{
  top: 10px;
  left: 10px;
}

#firstName
{
  top: 10px;
  left: 110px;
}

#lname
{
  top: 10px;
  left: 300px;
}

#lastname
{
  top: 10px;
  left: 400px;
}

#regTitle
{
  top: 160px;
  left: 60px;
  position: absolute;
}

#createTitle
{
  top: 160px;
  left: 30px;
  position: absolute;
}

#emlabel
{
  top: 10px;
  left: 10px;
  padding-left: 50px;
  padding-right: 50px;
  float: center;
}

#regEmail
{
  top: 10px;
  left: 130px;
}

#pwdlabel
{
  top: 50px;
  left: 10px;
  padding-left: 50px;
  padding-right: 50px;
  float: center;
}

#regPassword
{
  top: 50px;
  left: 130px;
}

#regSubmit
{
  top: 120px;
  left: -190px;
  width: 100px;
}

#loginOption
{
  left: 140px;
  top: 400px;
  position: absolute;
}

#prof
{
  top: 5px;
  left: 580px;
  width: 300px;
  position: absolute;
}

#file
{
  top: 5px;
  left: 750px;
  position: absolute;
}

#bioLabel
{
  top: 50px;
  left: 10px;
  position: absolute;
}

#bio
{
  top: 90px;
  left: 15px;
  width: 500px;
  position: absolute;
}

#preview 
{
  width: 200px;
  height: 200px;
  margin-top: 60px;
  margin-left: 770px;
}

#countryLabel
{
  top: 250px;
  left: 10px;
  position: absolute;
}

#country
{
  top: 290px;
  left: 15px;
  width: 200px;
  position: absolute;
}

#styleLabel
{
  top: 250px;
  left: 250px;
  position: absolute;
}

#style
{
  top: 285px;
  left: 250px;
  width: 200px;
  position: absolute;
}

#submit
{
  top: 275px;
  left: 460px;
  width: 210px;
  position: absolute;
}

#login_page
{
  left: 30px;
  top: 150px;
  position: absolute;
}

#emailLabel
{
  top: 5px;
  left: 40px;
  position:absolute;
}

#userEmail
{
  top: -4px;
  left: 70px;
  width: 210px;
  position: absolute;
}

#passwordLabel
{
  top: 50px;
  left: 35px;
  position:absolute;
}

#userPassword
{
  top: 0px;
  left: 70px;
  width: 210px;
  position: absolute;
}

#forgot
{
  top: 100px;
  left: 105px;
  position:absolute;
}

#login
{
  top: 120px;
  left: -220px;
  width: 150px;
  position:absolute;
}

#register
{
  top: 190px;
  left: 105px;
  position:absolute;
}

#style-art
{
  top: 200px;
  left: 600px;
  width: 700px;
  height: 390px;
  position:absolute;
}

#reset_title
{
  top: -10px;
  left: 30px;
  position: absolute;
}

#reset_para
{
  top: 40px;
  left: 30px;
  position: absolute;
}

#resetEmail
{
  top: 100px;
  left: 100px;
  position: absolute;
}

#resetLabel
{
  top: 100px;
  left: 30px;
  position: absolute;
}

#resetLogin
{
  top: 210px;
  left: 40px;
  position: absolute;
}

#res_sub
{
  top:150px;
  left: -280px;
  width: 200px;
  position: absolute;
}

#dashboardLabel
{
  top: 0px;
  left: 10px;
  position: absolute;
}

#viewLabel
{
  top: 0px;
  left: 10px;
  position: absolute;
}

#feed-container
{
  top: 50px;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
}

.feed-item
{
  padding: 30px;
  margin: 2%;
  min-height: 200px;
  /* min-width: 150px; */
  width: 1200px;
  box-shadow: 0px 10px 30px 0px rgb(50 50 50 / 16%);
}

.flex
{
  display: flex;
  flex-wrap: wrap;
}

.feed-post-title
{
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.feed-post-description
{
  text-align: center;
  position: relative;
  left: 450px;
  max-width: 300px;
}

.feed-image
{
  left:100px;
  width: 190px;
  height: 190px;
  position: absolute;
}

.feed-post-user
{
  position: relative; 
  top: -70px; 
  right: 30px;
  text-align: right;
}

#suggestionBtn
{
  width: 100px;
  position: relative;
  left: 750px;
}

#viewSuggestion
{
  width: 100px;
  position: relative;
  top: -80px;
  left: 590px;
}

#search
{
  top: 100px;
  left: 10px;
  position: absolute;
}

#search_btn
{
  top: 85px;
  left: -120px;
  width: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  position: absolute;
}

#suggestLabel
{
  top: 140px;
  left: 30px;
  position: absolute;
}

#post_suggest_img
{
  top: -20px;
}

#suggestFile
{
  left: 210px;
  top: -20px;
}

#suggest_prev
{
  width: 400px;
  height: 300px;
  margin-top: 30px;
  margin-left: 30px;
}

#suggest_title
{
  top: -20px;
  left: 550px;
  width: 40%;
}

#suggest_description
{
  top: 50px;
  left: 500px;
  min-height: 100px;
  max-height: 200px;
}

#user_greet
{
  top: -150px;
  left: 20px;
  position:absolute;
}

#userGreet
{
  top: -120px;
  left: 20px;
  position: absolute;
}

#make
{
  top: 280px;
  left: 600px;
  width: 200px;
}

textarea 
{
  resize: none;
  width: 50%;
  min-height: 100px;
  max-height: 150px;
  position: absolute;
}

select 
{
  width: 15%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button 
{
  padding: 10px;
  border-radius: 10px;
  margin-left: 320px;
  margin-top: 10px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #d45a9b;
  width: 20%;
  font-size: 16px;
  position: absolute;
}

fieldset 
{
  border: none;
  top: 220px;
  position: fixed;
  width: 100%;
}

.form_profile
{
  top: 155px;
  position: fixed;
  width: 100%;
  padding-left: 15px;
}

links 
{
  color: #ffffff;
}

body 
{
  padding-top: 600px;
  background: #fff3e3;
} 

