header 
{
  top: 0px;
  position: fixed;
  width: 100%;
  background-color: #d45a9b;
  height: 150px;
}

h1
{
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 15px;
  padding-top: 30px;
  position: absolute;
}

h2
{
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 150px;
}

#title
{
  top: 140px;
  left: 10px;
}

#post_img
{
  top: -20px;
}

#postfile
{
  left: 170px;
  top: -20px;
}

#post_prev
{
  width: 400px;
  height: 300px;
  margin-top: 30px;
  margin-left: 30px;
}

#post_title
{
  top: -20px;
  left: 550px;
  width: 40%;
}

#post_description
{
  top: 50px;
  left: 500px;
  min-height: 100px;
  max-height: 200px;
}

#upload
{
  top: 280px;
  left: 600px;
  width: 200px;
}

input 
{
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #050505;
  border-radius: 3px;
  font-size: 12px;
  position: absolute;
}

label 
{
  font-size: 15px;
  padding: 8px;
  text-align: left;
  color: #000000;
  font-weight: bold;
  position: absolute;
}

#fname
{
  top: 10px;
  left: 10px;
}

#firstName
{
  top: 10px;
  left: 110px;
}

#lname
{
  top: 10px;
  left: 300px;
}

#lastname
{
  top: 10px;
  left: 400px;
}

#prof
{
  top: 5px;
  left: 580px;
  width: 300px;
  position: absolute;
}

#file
{
  top: 5px;
  left: 750px;
  position: absolute;
}

#bioLabel
{
  top: 50px;
  left: 10px;
  position: absolute;
}

#bio
{
  top: 90px;
  left: 15px;
  width: 500px;
  position: absolute;
}

#preview 
{
  width: 200px;
  height: 200px;
  margin-top: 60px;
  margin-left: 770px;
}

#countryLabel
{
  top: 250px;
  left: 10px;
  position: absolute;
}

#country
{
  top: 290px;
  left: 15px;
  width: 200px;
  position: absolute;
}

#styleLabel
{
  top: 250px;
  left: 250px;
  position: absolute;
}

#style
{
  top: 285px;
  left: 250px;
  width: 200px;
  position: absolute;
}

#submit
{
  top: 275px;
  left: 460px;
  width: 210px;
  position: absolute;
}

textarea 
{
  resize: none;
  width: 50%;
  min-height: 100px;
  max-height: 150px;
  position: absolute;
}

select 
{
  width: 15%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button 
{
  padding: 10px;
  border-radius: 10px;
  margin-left: 320px;
  margin-top: 10px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #d45a9b;
  width: 20%;
  font-size: 16px;
  position: absolute;
}

fieldset 
{
  border: none;
  top: 220px;
  position: fixed;
  width: 100%;
}

.form_profile
{
  top: 155px;
  position: fixed;
  width: 100%;
  padding-left: 15px;
}

links 
{
  color: #ffffff;
}

body {
    background: #fff3e3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.password-recovery-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.password-recovery-container .form-group {
    margin-bottom: 20px;
}

.password-recovery-container input[type="email"] {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.password-recovery-container button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    width: auto; /* Override if necessary */
    font-size: 16px; /* Ensure text is visible */
  }
.container.dashboard {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.feed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px; /* Added padding for spacing around posts */
}

.password-recovery-container button:hover {
     background-color: #0056b3;
  }

