header 
{
  top: 0px;
  position: fixed;
  width: 100%;
  background-color: #d45a9b;
  height: 150px;
}

h1
{
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 15px;
  padding-top: 30px;
  position: absolute;
}
