header 
{
  top: 0px;
  position: fixed;
  width: 100%;
  background-color: #d45a9b;
  height: 150px;
}

h1
{
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 15px;
  padding-top: 30px;
  position: absolute;
}

h2
{
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
}

input 
{
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #050505;
  border-radius: 3px;
  font-size: 12px;
  position: absolute;
}

label {
  font-size: 15px;
  padding: 8px;
  text-align: left;
  color: #000000;
  font-weight: bold;
  position: absolute;
}

#fname
{
  top: 10px;
  left: 10px;
}

#firstname
{
  top: 10px;
  left: 110px;
}

#lname
{
  top: 10px;
  left: 300px;
}

#lastname
{
  top: 10px;
  left: 400px;
}

#prof
{
  top: 5px;
  left: 580px;
  width: 300px;
  position: absolute;
}

#file
{
  top: 5px;
  left: 750px;
  position: absolute;
}

#bio
{
  top: 50px;
  left: 10px;
  position: absolute;
}

#about
{
  top: 90px;
  left: 15px;
  width: 500px;
  position: absolute;
}

#preview 
{
  width: 200px;
  height: 200px;
  margin-top: 60px;
  margin-left: 770px;
}

#countryLabel
{
  top: 250px;
  left: 10px;
  position: absolute;
}

#country
{
  top: 290px;
  left: 15px;
  width: 200px;
  position: absolute;
}

#styleLabel
{
  top: 250px;
  left: 250px;
  position: absolute;
}

#selectStyle
{
  top: 285px;
  left: 250px;
  width: 200px;
  position: absolute;
}

#submit
{
  top: 275px;
  left: 460px;
  width: 210px;
  position: absolute;
}

textarea 
{
  resize: none;
  width: 50%;
  min-height: 100px;
  max-height: 150px;
}

select 
{
  width: 15%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button 
{
  padding: 10px;
  border-radius: 10px;
  margin-left: 320px;
  margin-top: 10px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #d45a9b;
  width: 20%;
  font-size: 16px;
  position: absolute;
}
