header 
{
  top: 0px;
  position: fixed;
  width: 100%;
  background-color: #d45a9b;
  height: 150px;
}

h1
{
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 15px;
  padding-top: 30px;
  position: absolute;
}

h2
{
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
}

input 
{
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #050505;
  border-radius: 3px;
  font-size: 12px;
  position: absolute;
}

label {
  font-size: 15px;
  padding: 8px;
  text-align: left;
  color: #000000;
  font-weight: bold;
  position: absolute;
}
